x-def-logging: &default-logging
  logging:
    # Указываем, какой драйвер использовать
    driver: "loki"
    options:
      # Адрес Loki, куда складывать логи
      # Обратите внимание, что здесь используется не имя сервиса loki, а локальный хост, на который проброшен порт Loki,
      # это сделано потому, что логи будет писать docker engine, котрый расположен на хостовой машине,
      # и он не знает имени хоста контейнера Loki, которое ему присвоил compose во внутренней сети проекта.
      loki-url: "http://localhost:3100/loki/api/v1/push"
      loki-batch-size: "100"
      loki-retries: 2
      loki-max-backoff: 1000ms
      loki-timeout: 1s

networks:
  traefik-public:
    external: true

volumes:
  pg-data:
  loki-data: 

services:
  postgres:
    container_name: postgres
    image: postgres:alpine
    volumes:
      - pg-data:/var/lib/postgresql/data
    env_file:
      - .env
    # ports:
    #   - "5432:5432"
    networks:
      - traefik-public
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U postgres -d bot'"]
      interval: 5s
      timeout: 10s
      retries: 5
      start_period: 10s
    restart: unless-stopped

  tgbot:
    image: ${REGISTRY}/support-bot:${IMAGE_TAG}
    <<: *default-logging
    networks:
      - traefik-public
    env_file:
      - .env
    ports:
      - "${HTTP_PORT}:${HTTP_PORT}"
    depends_on:
      - postgres
      - loki
    deploy:
      labels:
        - traefik.enable=true
        - traefik.docker.network=traefik-public
        - traefik.http.routers.tgbot.rule=Host(`api.tronopay.com`)
        - traefik.http.services.tgbot.loadBalancer.server.port=${HTTP_PORT}
        # - traefik.http.routers.tgbot.middlewares=secure-headers
        # - traefik.http.routers.tgbot.entryPoints=https
        # - traefik.http.routers.tgbot.tls=true
        # - traefik.http.routers.tgbot.tls.certResolver=letsEncrypt
      mode: replicated
      replicas: 1
      update_config:
        parallelism: 1
        delay: 5s
      resources:
        limits:
          memory: 256M
    restart: unless-stopped


  loki:
    image: grafana/loki:2.9.0
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/loki.yaml
    networks:
      - traefik-public
      - default
    volumes:
      - ./loki/loki.yaml:/etc/loki/loki.yaml:ro
      # - loki-data:/loki
    deploy:
      mode: replicated
      replicas: 1
      update_config:
        order: stop-first
      resources:
        limits:
          memory: 256M
      placement:
        constraints:
          - node.role == manager
    restart: unless-stopped

  grafana:
    image: grafana/grafana:10.2.2
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
    networks:
      - traefik-public
      - default
    depends_on:
      - loki
#    volumes:
#      - ./grafana-config:/etc/grafana
#      - ./grafana_data:/var/lib/grafana
    deploy:
      mode: replicated
      replicas: 1
      update_config:
        order: stop-first
      resources:
        limits:
          memory: 256M
      placement:
        constraints:
          - node.role == manager
    restart: unless-stopped

