apiVersion: 1
datasources:
  - name: Loki
    type: loki
    access: proxy
    orgId: 1 # Идентификатор организации (единица адм. деления в Grafana) которой будет доступен источник
    url: http://loki:3100
    basicAuth: false
    isDefault: true
    version: 1
    editable: true
